@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  html {
    font-size: 0.875rem;
  }

  a {
    @apply text-colorInfoDark;
  }

  img {
    @apply block w-full
  }

  h1 {
    @apply text-3xl font-bold;
  }

  h2 {
    @apply text-xl;
  }

  h3 {
    @apply text-sm;

  }

  h4 {
    @apply text-sm;

  }

  h5 {
    @apply text-xs;
  }

  small {
    @apply text-xs;
  }

  p {
    @apply text-colorDarkVariant
  }

  b {
    @apply text-colorDark dark:text-colorDark_DM;
  }

  body {
    font-family: Poppins, sans-serif;
    @apply w-screen h-screen text-colorDark dark:text-colorDark_DM overflow-x-hidden select-none bg-colorBackground dark:bg-colorBackground_DM text-sm;
  }

  * {
    @apply appearance-none outline-none box-border;
  }

}

@layer components {

  .text-muted {
    @apply text-colorInfoDark;
  }

  .primary {
    @apply text-colorPrimary;
  }

  .danger {
    @apply text-colorDanger;
  }

  .success {
    @apply text-colorSuccess;
  }

  .warning {
    @apply text-colorWarning;
  }

  .profile-photo {
    @apply w-[2.8rem] h-[2.8rem] overflow-hidden rounded-full;
  }

  /*aside bar menu*/
  .activeMenu {
    @apply text-colorPrimary bg-colorTransparent before:content-[''] before:w-[6px] before:h-full before:bg-colorPrimary;
  }

  .activeToggle {
    @apply bg-colorPrimary text-colorWhite rounded-md
  }
}

@media screen and (min-width:7px) {

  .right .top .theme-toggler {
    width: 4.4rem;
    position: absolute;
    left: 66%;
  }

  .right .top button {
    display: inline-block;
    background-color: transparent;
    cursor: pointer;
    color: var(--color-dark);
    position: absolute;
    left: 1rem;
  }

  .right .top button span {
    font-size: 2rem;
  }
}